body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    height: 100vh;
}

#chat-container {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    padding: 0%;
    border-radius: 0px;
    overflow: hidden;
    overflow: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #444 #2d2d2d;
    scroll-behavior: smooth;
}

#prompt-input {
    width: calc(100%);
    padding: 8px;
    border: 1px solid;
    border-color: var(--vscode-input-border);
    outline: none;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    position: sticky;
    bottom: 0;
    z-index: 11;
    max-height: 270px;
    min-height: 2.3rem;
    height: 2.3rem;
}

#prompt-input:focus {
    border: 1px solid var(--vscode-inputOption-activeBorder);
}

#response {
    margin-left: 8px;
}

.loader {
    width: 8px;
    height: 8px;
    left: 16px;
    border-radius: 50%;
    background-color: var(--vscode-progressBar-background);
    box-shadow: 32px 0 var(--vscode-progressBar-background), -32px 0 var(--vscode-progressBar-background);
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 16px 0 #FFF2, -16px 0 var(--vscode-progressBar-background);
    }

    50% {
        background-color: var(--vscode-progressBar-background);
        box-shadow: 16px 0 #FFF2, -16px 0 #FFF2;
    }

    100% {
        background-color: #FFF2;
        box-shadow: 16px 0 var(--vscode-progressBar-background), -16px 0 #FFF2;
    }
}


.message {
    margin-bottom: 16px;
    position: relative;
}

.user-you {
    background-color: rgba(41, 181, 246, 0.08);
    padding: 8px;
    width: auto;
    max-width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: left;
}

.user-you::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background-color: #29b6f6;
    position: absolute;
    left: 0;
    top: 0;
}

.user-gemini-pro {
    background-color: rgba(102, 187, 106, 0.08);
    padding: 8px;
    width: auto;
    max-width: auto;
    box-sizing: border-box;
    align-items: left;
}

.user-gemini-pro::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background-color: #66bb6a;
    position: absolute;
    left: 0;
    top: 0;
}

#dynamic-messages {
word-break: break-word;
}

.user-gemini-pro p {
    margin-left: 0px;
    white-space: pre-wrap;
}

.user-you p {
    margin-left: 0px;
    white-space: pre-wrap;
}

.menu {
    position: absolute;
    z-index: 12;
    border-radius: 7px;
    background-color: var(--vscode-activityBar-background);
}

.menu-item {
    cursor: default;
    padding: .5rem 1rem;
    border-radius: 7px;
}

.menu-item.selected {
    background-color: var(--vscode-activityBar-background);
    color: var(--vscode-textLink-activeForeground);
    border-radius: 7px;
}

.menu-item:hover:not(.selected) {
    background-color: #fafafa;
    border-radius: 7px;
}

a {
    color: var(--vscode-textLink-activeForeground);
}

ul li::before {
    content: "•";
    margin-right: 5px;
}