body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    height: 100vh;
}

#chat-container {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    padding: 0%;
    border-radius: 0px;
    overflow: hidden;
    overflow: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #444 #2d2d2d;
    scroll-behavior: smooth;
}

#clear-chat-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 98;
}

#clear-chat-button i {
    margin-left: 5px;
}

#snackbar {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffcc00;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: calc(100% - 18px);
    z-index: 100;
    animation: fadeInOut 5s ease;
}

#snackbar i {
    margin-right: 5px;
}

#prompt-input {
    width: calc(100%);
    padding: 8px;
    border: 1px solid;
    border-color: var(--vscode-input-border);
    outline: none;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    position: sticky;
    bottom: 0;
    z-index: 11;
    max-height: 270px;
    min-height: 2.3rem;
    height: 2.3rem;
}

#prompt-input:focus {
    border: 1px solid var(--vscode-inputOption-activeBorder);
}

#toast-container {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    background-color: #ffcc00;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: calc(100% - 18px);
    z-index: 100;
    animation: slideUp 0.5s ease-in-out forwards;
}

#toast-container i {
    margin-right: 5px;
}

#response {
    margin-left: 8px;
}

.file-path {
    font-family: 'Courier New', Courier, monospace;
    color: var(--vscode-editor-foreground);
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--vscode-progressBar-background);
    color: var(--vscode-progressBar-background);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    display: none;
  }

  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--vscode-progressBar-background);
    color: var(--vscode-progressBar-background);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }

  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--vscode-progressBar-background);
    color: var(--vscode-progressBar-background);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: var(--vscode-progressBar-background);
    }
    50%, 100% {
      background-color: var(--vscode-editor-foreground);
    }
  }

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}

.message {
    margin-bottom: 16px;
    position: relative;
}

.user-you {
    background-color: rgba(41, 181, 246, 0.08);
    padding: 8px;
    width: auto;
    max-width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: left;
}

.user-you::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background-color: #29b6f6;
    position: absolute;
    left: 0;
    top: 0;
}

.user-gemini-pro {
    background-color: rgba(102, 187, 106, 0.08);
    padding: 8px;
    width: auto;
    max-width: auto;
    box-sizing: border-box;
    align-items: left;
}

.user-gemini-pro::before {
    content: "";
    display: block;
    width: 4px;
    height: 100%;
    background-color: #66bb6a;
    position: absolute;
    left: 0;
    top: 0;
}

#dynamic-messages {
    word-break: break-word;
}

#workspace-loader {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    fill: var(--vscode-editor-foreground);
}

.user-gemini-pro p {
    margin-left: 0px;
    white-space: pre-wrap;
}

.user-you p {
    margin-left: 0px;
    white-space: pre-wrap;
}

.menu {
    position: absolute;
    z-index: 12;
    border-radius: 7px;
    background-color: var(--vscode-activityBar-background);
}

.menu-item {
    cursor: default;
    padding: .5rem 1rem;
    border-radius: 7px;
}

.menu-item.selected {
    background-color: var(--vscode-activityBar-background);
    color: var(--vscode-textLink-activeForeground);
    border-radius: 7px;
}

.menu-item:hover:not(.selected) {
    background-color: #fafafa;
    border-radius: 7px;
}

a {
    color: var(--vscode-textLink-activeForeground);
}

ol li::before,
ul li::before {
    margin-right: 5px;
}

ol,
ul {
    padding-left: 17px;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

.typing-loader {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    animation: loading 1s linear infinite alternate;
    margin-bottom: 4px;
}

@keyframes loading {
    0% {
        background-color: var(--vscode-progressBar-background);
        box-shadow:
            8px 0px 0px 0px var(--vscode-editor-foreground),
            16px 0px 0px 0px var(--vscode-editor-foreground);
    }

    25% {
        background-color: var(--vscode-editor-foreground);
        box-shadow:
            8px 0px 0px 0px var(--vscode-progressBar-background),
            16px 0px 0px 0px var(--vscode-editor-foreground);
    }

    75% {
        background-color: var(--vscode-editor-foreground);
        box-shadow:
            8px 0px 0px 0px var(--vscode-editor-foreground),
            16px 0px 0px 0px var(--vscode-progressBar-background);
    }
}