.list-section ul {
    list-style-type: none;
    margin: 0;
}

.list-section ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.list-section ul li::before {
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.685 0 0 2.685 0 6C0 9.315 2.685 12 6 12C9.315 12 12 9.315 12 6C12 2.685 9.315 0 6 0ZM9 2.67L10.08 3.75L5.25 8.58L2.67 6L3.75 4.92L5.25 6.42L9 2.67Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
    padding-right: 3px;
    margin-top: 3px;
}


.menu {
    position: absolute;
    z-index: 99;
    border-radius: 7px;
    background-color: var(--vscode-activityBar-background);
}

.menu-item {
    cursor: default;
    padding: .5rem 1rem;
    border-radius: 7px;
}

.menu-item.selected {
    background-color: var(--vscode-activityBar-background);
    color: var(--vscode-textLink-activeForeground);
    border-radius: 7px;
}

.menu-item:hover:not(.selected) {
    background-color: #fafafa;
    border-radius: 7px;
}


#header {
    background-color: var(--vscode-sideBar-background);
}

#bottom-text-input-container {
    background-color: var(--vscode-sideBar-background);
}

p[contenteditable="true"] {
    outline: none;
    max-height: 100px;
    overflow: auto;
}