body {
    overscroll-behavior-x: none;
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-weight: var(--vscode-font-weight);
    font-size: var(--vscode-font-size);
    margin: 0;
    padding: 0;
}

.market-place-list-background {
    background-color: var(--vscode-panel-background);
}