body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    height: 100vh;
}

.market-place-list-background {
    background-color: var(--vscode-panel-background);
}

.input-container {
    padding-top: 4px;
    position: relative;
    color: var(--vscode-editor-foreground);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 4px;
    padding-left: 4px;
}

.search-input {
    border-width: .5px;
    border-color: rgb(209 213 219);
    height: 1.75rem; /* 28px */
    width: 100%; /* dynamic in size */
    padding-left: 0.75rem; /* 12px */
    padding-right: 1.25rem; /* 20px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    background-color: var(--vscode-panel-background);
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0.625rem; /* 12px */
    margin-right: 1rem; /* 16px */
    fill: var(--vscode-editor-foreground);
}